{% extends 'base.html' %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

        button[data-setter] {
            outline: none;
            background: transparent;
            border: none;
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 18px;
            width: 25px;
            height: 30px;
            color: #e91e63;
            cursor: pointer;
        }

        button[data-setter]:hover {
            opacity: 0.5;
        }

        .timerContainer {
            position: relative;
            top: 30px;
            width: 300px;
            margin: 0 auto;
        }

        .setters {
            position: absolute;
            left: 85px;
            top: 75px;
        }

        .minutes-set {
            float: left;
            margin-right: 28px;
        }

        .seconds-set {
            float: right;
        }

        .controlls {
            position: absolute;
            left: 75px;
            top: 105px;
            text-align: center;
        }

        .display-remain-time {
            font-family: 'Roboto';
            font-weight: 100;
            font-size: 65px;
            color: #e91e63;
        }

        #pause {
            outline: none;
            background: transparent;
            border: none;
            margin-top: 10px;
            width: 50px;
            height: 50px;
            position: relative;
        }

        .play::before {
            display: block;
            content: "";
            position: absolute;
            top: 8px;
            left: 16px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 22px solid #e91e63;
        }

        .pause::after {
            content: "";
            position: absolute;
            top: 8px;
            left: 12px;
            width: 15px;
            height: 30px;
            background-color: transparent;
            border-radius: 1px;
            border: 5px solid #e91e63;
            border-top: none;
            border-bottom: none;
        }

        #pause:hover {
            opacity: 0.8;
        }

        .e-c-base {
            fill: none;
            stroke: #f8bbd0;
            stroke-width: 4px
        }

        .e-c-progress {
            fill: none;
            stroke: #e91e63;
            stroke-width: 4px;
            transition: stroke-dashoffset 0.7s;
        }

        .e-c-pointer {
            fill: #FFF;
            stroke: #e91e63;
            stroke-width: 2px;
        }

        #e-pointer {
            transition: transform 0.7s;
        }

        h1 {
            margin-top: 150px;
            text-align: center;
        }

        body {
            background-color: #fff;
        }
    </style>
    {% csrf_token %}

    <div class="container w-75 py-md-5">
        <div class="timerContainer">
            <div class="setters d-none">
                <div class="minutes-set">
                    <button data-setter="minutes-plus">+</button>
                    <button data-setter="minutes-minus">-</button>
                </div>
                <div class="seconds-set">
                    <button data-setter="seconds-plus">+</button>
                    <button data-setter="seconds-minus">-</button>
                </div>
            </div>
            <div class="circle">
                <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(110,110)">
                        <circle r="100" class="e-c-base"/>
                        <g transform="rotate(-90)">
                            <circle r="100" class="e-c-progress"/>
                            <g id="e-pointer">
                                <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="controlls">
    
                <div class="display-remain-time {% if not showTimerNumber %} d-none {% endif %}">00:30</div>
                <button class="play" id="pause"></button>
            </div>
        </div>
        <div class="timerSetter">
            <select class=" form-select w-25" id="time-select">
                <option value=0.03>2초</option>
                <option value=15>15</option>
                <option value=25>25</option>
            </select>
        </div>

    </div>
    

{#<form action="{% url 'saveTime'%}" method="post">#}
{#{% csrf_token %}#}
{#<textarea name="studiedTime" id="studiedTime" rows="15"></textarea>#}
{#<input type="submit" value="답변등록">#}
{#</form>#}

    <script >
        //circle start
        let progressBar = document.querySelector('.e-c-progress');
        let indicator = document.getElementById('e-indicator');
        let pointer = document.getElementById('e-pointer');
        let length = Math.PI * 2 * 100;

        progressBar.style.strokeDasharray = length;

        function update(value, timePercent) {
            var offset = -length - length * value / (timePercent);
            progressBar.style.strokeDashoffset = offset;
            pointer.style.transform = `rotate(${360 * value / (timePercent)}deg)`;
        };

        //circle ends
        const displayOutput = document.querySelector('.display-remain-time')
        const pauseBtn = document.getElementById('pause');
        const setterBtns = document.querySelectorAll('button[data-setter]');
        const timeSelector = document.querySelector('select#time-select');

        let intervalTimer;
        let timeLeft;
        let wholeTime = Math.round(timeSelector.options[timeSelector.selectedIndex].value*60); // manage this to set the whole time
        let isPaused = false;
        let isStarted = false;
        let savedTime = 0;

        update(wholeTime, wholeTime); //refreshes progress bar
        displayTimeLeft(wholeTime);

        function changeWholeTime(seconds) {
            if ((wholeTime + seconds) > 0) {
                wholeTime += seconds;
                update(wholeTime, wholeTime);
            }
        }

        for (var i = 0; i < setterBtns.length; i++) {
            setterBtns[i].addEventListener("click", function (event) {
                var param = this.dataset.setter;
                switch (param) {
                    case 'minutes-plus':
                        changeWholeTime(1 * 60);
                        break;
                    case 'minutes-minus':
                        changeWholeTime(-1 * 60);
                        break;
                    case 'seconds-plus':
                        changeWholeTime(1);
                        break;
                    case 'seconds-minus':
                        changeWholeTime(-1);
                        break;
                }
                displayTimeLeft(wholeTime);
            });
        }
        timeSelector.addEventListener("change",function (event){
            wholeTime = timeSelector.options[timeSelector.selectedIndex].value*60;
            wholeTime = Math.round(wholeTime)
            update(wholeTime, wholeTime);
            displayTimeLeft(wholeTime);
        })

        function timer(seconds) { //counts time, takes seconds
            let remainTime = Date.now() + (seconds * 1000);
            displayTimeLeft(seconds);

            intervalTimer = setInterval(function () {
                timeLeft = Math.round((remainTime - Date.now()) / 1000);
                if(savedTime < Math.round((wholeTime-timeLeft)/60/5)*5){
                    savedTime = Math.round((wholeTime-timeLeft)/60/5)*5;
                    sendStudyTime(5);
                }
                if (timeLeft < 0) {
                    clearInterval(intervalTimer);
                    if(wholeTime<5*60){
                        sendStudyTime(Math.ceil(wholeTime/60))
                    }
                    isStarted = false;
                    setterBtns.forEach(function (btn) {
                        btn.disabled = false;
                        btn.style.opacity = 1;
                    });
                    timeSelector.disabled = false;
                    displayTimeLeft(wholeTime);
                    pauseBtn.classList.remove('pause');
                    pauseBtn.classList.add('play');
                    return;
                }
                displayTimeLeft(timeLeft);
            }, 100);
        }

        function pauseTimer(event) {
            {#console.log(this)#}
            if (isStarted === false) {
                {#this.disabled = true;#}
                {#setTimeout(() => this.disabled = false, 500);#}
                timer(wholeTime);
                isStarted = true;
                savedTime = 0;
                this.classList.remove('play');
                this.classList.add('pause');
                setterBtns.forEach(function (btn) {
                    btn.disabled = true;
                    btn.style.opacity = 0.5;
                });
                timeSelector.disabled = true;

            } else if (isPaused) {
                {#event.target.disabled=true;#}
                {#setTimeout(()=>event.target.disabled=false,3000);#}
                this.classList.remove('play');
                this.classList.add('pause');
                timer(timeLeft);
                isPaused = isPaused ? false : true
            } else {
                {#event.target.disabled=true;#}
                {#setTimeout(()=>event.target.disabled=false,3000);#}
                this.classList.remove('pause');
                this.classList.add('play');
                clearInterval(intervalTimer);
                isPaused = isPaused ? false : true;
            }
        }

        function displayTimeLeft(timeLeft) { //displays time on the input
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            let displayString = `${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            displayOutput.textContent = displayString;
            update(timeLeft, wholeTime);
        }

        pauseBtn.addEventListener('click', pauseTimer);

        function sendStudyTime(studiedTime){
            $.ajax({
            type:'POST',
            url:'{% url "saveTime" %}',
            data:
            {
                studiedTime:studiedTime,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                  console.log('saved study time: '+studiedTime);
                  window.alert("수고하셨습니다. 잠깐 휴식하는 건 어떨까요?");
                    }
            })
        }

    </script>

{% endblock %}