{% extends 'base.html' %}
{% block content %}
    <style>
    </style>

    <div class="container w-75 py-md-5">

            <div class="row">
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title" style="color : #88024f">{{ user.username }}</h2>
                            </br>
                            <h6 class="card-subtitle mb-3" style="color : #ad1457">설정가능시간</h6>
                            <p class="card-text" style="color : #ec407a"> {{ timerLimit }}분</p>
                            <h6 class="card-subtitle mb-3  " style="color : #ad1457">누적시간</h6>
                            <p class="card-text" style="color :  #ec407a"> {{ totalStudyHour }}시간 {{ totalStudyMinute }}분</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div>
                        <label for="style-select">
                            <h4 style="color: #e91e63">
                                스타일
                            </h4>
                           
                        </label>
                        <select class="form-select w-50" id="style-select" >
                            <option value="clock-and-number" >시계 + 숫자</option>
                            <option value="clock" >시계</option>
                        </select>
                    </div>

                </br>

                    <button type="button" class="btn btn-outline-danger" id="study-start-link" href="#">공부시작</button>
                    
                
                    </div>

                </div>

            </div>
        
    </div>
    
    

    

    <script>
    const studyStartLink = document.getElementById("study-start-link")
    const styleSelector = document.getElementById("style-select")
    studyStartLink.addEventListener("click", event => {
        event.preventDefault()
        document.location.href = "timer/"+ styleSelector.options[styleSelector.selectedIndex].value;
    })
    </script>
{% endblock %}